.footer__logo-img {
  margin: 0;
  padding: 0;
  width: 68px;
}
@media screen and (max-width: 1180px) {
  .footer__logo-img {
    width: 54px;
  }
}
@media screen and (max-width: 1060px) {
  .footer__logo-img {
    width: 68px;
  }
}
