.footer__columns {
  height: fit-content;
  margin: 66px 0 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 105px;
}
@media screen and (max-width: 1300px) {
  .footer__columns {
    gap: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .footer__columns {
    gap: 50px;
  }
}
@media screen and (max-width: 1060px) {
  .footer__columns {
    gap: 0;
    justify-content: space-between;
  }
}
