.product-information__instock {
  display: flex;
  padding: 0;
  margin: 25px 0 15px 5px;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 950px) {
  .product-information__instock {
    margin: 10px 0 15px 5px;
  }
}
