.footer__subtitle {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  max-width: 411px;
  width: 100%;
}
@media screen and (max-width: 1180px) {
  .footer__subtitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 1060px) {
  .footer__subtitle {
    font-size: 26px;
    max-width: 100%;
    text-align: center;
  }
}
