.product-information__thumbnail-image {
  max-width: 80px;
}
@media screen and (max-width: 1000px) {
  .product-information__thumbnail-image {
    max-width: 60px;
  }
}
@media screen and (max-width: 950px) {
  .product-information__thumbnail-image {
    max-width: 50px;
  }
}
@media screen and (max-width: 750px) {
  .product-information__thumbnail-image {
    max-width: 80px;
  }
}
@media screen and (max-width: 600px) {
  .product-information__thumbnail-image {
    max-width: 70px;
  }
}
