.navigation__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media screen and (max-width: 650px) {
  .navigation__icons {
    justify-self: center;
    grid-area: icons;
  }
}
@media screen and (max-width: 540px) {
  .navigation__icons {
    display: none;
  }
}
