.promo {
  max-width: calc(100% - 160px);
  width: fit-content;
  margin: 0 auto 50px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1110px) {
  .promo {
    max-width: calc(100% - 80px);
  }
}
@media screen and (max-width: 1060px) {
  .promo {
    max-width: 100%;
    border-radius: 0;
  }
}
@media screen and (max-width: 895px) {
  .promo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    border-radius: 20px;
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 710px) {
  .promo {
    max-width: 100%;
    width: 100%;
    border-radius: 15px;
  }
}
@media screen and (max-width: 490px) {
  .promo {
    grid-template-rows: 1fr 1.5fr;
  }
}
