.promo-marquee {
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  width: 3500px;
  transform: translateX(-22px);
}
