.product-information__images {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 750px) {
  .product-information__images {
    justify-content: center;
  }
}
