.product-information__left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 40px 10px 0 0;
  padding: 0;
}
@media screen and (max-width: 750px) {
  .product-information__left-side {
    width: 100%;
    margin: 0;
  }
}
