.product-information__right-side {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
  padding: 0;
}
@media screen and (max-width: 750px) {
  .product-information__right-side {
    margin: 0;
    width: 100%;
    max-width: calc(100% - 40px);
  }
}
