.footer__copyright {
  left: 80;
  bottom: 28px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;
}
@media screen and (max-width: 1060px) {
  .footer__copyright {
    font-size: 18px;
  }
}
