.showcase {
  margin: 0 0 198px;
  padding: 0;
  transform: translateX(80px);
}
@media screen and (max-width: 1280px) {
  .showcase {
    transform: translateX(40px);
  }
}
@media screen and (max-width: 850px) {
  .showcase {
    margin: 0 0 100px;
  }
}
