.extra-promo__card {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 850px) {
  .extra-promo__card {
    flex-direction: row;
    border-radius: 20px;
  }
}
@media screen and (max-width: 600px) {
  .extra-promo__card {
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    gap: 0;
  }
}
