.product-information__thumbnails {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 20px;
  gap: 29px;
  list-style: none;
}
@media screen and (max-width: 750px) {
  .product-information__thumbnails {
    justify-content: center;
  }
}
