.footer__column {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  gap: 10px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1060px) {
  .footer__column {
    gap: 20px;
  }
}
@media screen and (max-width: 850px) {
  .footer__column {
    gap: 35px;
  }
}
