.included__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 925px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media screen and (max-width: 550px) {
  .included__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
