.extra-promo__title {
  margin: 0;
  padding: 0;
  font-size: 27.3px;
  font-weight: 600;
  line-height: 33px;
}
@media screen and (max-width: 850px) {
  .extra-promo__title {
    text-align: center;
    font-size: 32px;
    margin: 20px 0 0;
  }
}
