.navigation__in-cart {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: #b4e907;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  font-size: 10.5px;
  font-weight: 600;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}