.extra-promo {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(200px, 415px));
  max-width: calc(100% - 160px);
  margin: 0 auto 60px;
  padding: 0;
  gap: 17px;
}
