.extra-promo {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(200px, 415px));
  max-width: calc(100% - 160px);
  margin: 0 auto 60px;
  padding: 0;
  gap: 17px;
}
@media screen and (max-width: 1110px) {
  .extra-promo {
    max-width: calc(100% - 80px);
  }
}
@media screen and (max-width: 850px) {
  .extra-promo {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 40px;
  }
}
