.contact-us__img {
  position: absolute;
  z-index: 1;
  top: -135px;
  right: 10px;
  width: 473px;
}
@media screen and (max-width: 1185px) {
  .contact-us__img {
    width: 378px;
    top: -20px;
  }
}
@media screen and (max-width: 970px) {
  .contact-us__img {
    width: 302px;
    position: relative;
    margin: 40px 0 0;
  }
}
@media screen and (max-width: 720px) {
  .contact-us__img {
    display: none;
  }
}
