.navigation {
  display: flex;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  height: 80px;
  border-bottom: 2px solid #000000;
  width: calc(100% - 160px);
}
@media screen and (max-width: 1280px) {
  .navigation {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 895px) {
  .navigation {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 680px) {
  .navigation {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 1fr;
    grid-template-areas:
      'logo menu'
      'icons icons';
    padding: 0 20px;
  }
}
@media screen and (max-width: 540px) {
  .navigation {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
