.promo__title {
  max-width: 520px;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1215px) {
  .promo__title {
    font-size: 30px;
  }
}
@media screen and (max-width: 895px) {
  .promo__title {
    font-size: 42px;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 750px) {
  .promo__title {
    font-size: 34px;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 547px) {
  .promo__title {
    font-size: 26px;
    max-width: calc(100% - 40px);
  }
}
@media screen and (max-width: 490px) {
  .promo__title {
    font-size: 26px;
    max-width: calc(100% - 10px);
  }
}
