.promo__title {
  max-width: 520px;
  font-size: 34px;
  font-weight: 700;
  line-height: 41px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1215px) {
  .promo__title {
    font-size: 30px;
  }
}
