.contact-us__btn-and-answer {
  display: flex;
  margin: 0 0 0 88px;
  padding: 0 0 99px 0;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 970px) {
  .contact-us__btn-and-answer {
    margin: 0 0 0 40px;
  }
}
@media screen and (max-width: 600px) {
  .contact-us__btn-and-answer {
    margin: 0 0 0 20px;
  }
}
